<div class="account-container">
	<h3 class="account-tab-title">Change your password</h3>

	<form [formGroup]="form" (submit)="onSubmit()">
		<div class="form-block">
			<label for="old-password" class="form-label">Old Password</label>
			<input
				id="old-password"
				class="form-input"
				type="password"
				formControlName="oldPassword"
				placeholder="Enter your current password"
				required
			/>
		</div>
		<div class="form-block">
			<label for="new-password" class="form-label">New Password</label>
			<input
				id="new-password"
				class="form-input"
				type="password"
				formControlName="newPassword"
				placeholder="Enter your new password"
				required
			/>
		</div>
		<div class="form-block">
			<label for="confirm-new-password" class="form-label">Confirm New Password</label>
			<input
				id="confirm-new-password"
				class="form-input"
				type="password"
				formControlName="confirmNewPassword"
				placeholder="Enter your new password again"
				required
			/>
			@if (
				form.hasError("passwordMismatch") &&
				form.get("confirmNewPassword")?.touched &&
				form.get("newPassword")?.value
			) {
				<div class="error-message">Passwords do not match.</div>
			}
		</div>

		<div class="account-form-group">
			<a href="/" class="btn-secondary">Cancel</a>
			<button type="submit" class="btn-primary">Save</button>
		</div>
	</form>
</div>

<app-loader [loading]="loading" [coverPage]="true"></app-loader>
