@import "variables";

.account-wrapper {
	margin: calc(74px + 74px) auto; // header height
	width: 100%;
	max-width: 630px;
	background-color: #fff;
	padding: 30px 35px;
}

.account-title {
	font-size: 21px;
	font-weight: 700;
	color: #1A1E2C;
	margin-bottom: 30px;
}

.account-tabs {
	padding: 0 8px 12px;
	border-bottom: 1px solid #EAEDF3;
	margin-bottom: 35px;

	a {
		font-size: 14px;
		background-color: transparent;
		font-weight: 500;
		color: rgba(111, 124, 139, 0.5);
		padding: 0 12px;

		&.active {
			color: #1943EF;
		}
	}
}


.account-container {
	.form-label,
	.form-input,
	.form-cancel,
	.form-submit {
		font-size: 14px;
	}

	.form-input {
		padding: 15px 32px;
	}

	.form-cancel,
	.form-submit {
		height: 38px;
		max-width: 110px;
		margin: 0 17px 0 0;
		text-align: center;
		line-height: 38px;
	}

}

.account-tab-title {
	font-size: 18px;
	font-weight: 500;
	color: #1A1E2C;
	margin-bottom: 22px;
}

.account-form-group {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
