.auth-wallpaper {
	background-image: url("src/assets/images/wallpapers/background-1.png");
}

img.wave {
	max-width: 47px;
	margin-bottom: 45px;
	transform: rotate(0deg);
	animation: wave .4s 2 ease-in-out;
	transform-origin: bottom center;
}

@keyframes wave {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(15deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg); }
}
