<main class="auth-main">
	<div class="auth-wallpaper"></div>
	<section class="auth-section">
		<div class="auth-content">
			<h1>Get started today</h1>
			<h2>Enter your details to create super account.</h2>
			<form (submit)="onRegister()" [formGroup]="form">
				<div class="user-data">
					<div class="form-block">
						<label for="first-name" class="form-label">First Name</label>
						<input
							class="form-input"
							id="first-name"
							type="text"
							formControlName="firstName"
							placeholder="Enter your first name"
							required
						/>
						<app-form-error [control]="firstNameControl"></app-form-error>
					</div>
					<div class="form-block">
						<label for="last-name" class="form-label">Last Name</label>
						<input
							class="form-input"
							id="last-name"
							type="text"
							formControlName="lastName"
							placeholder="Enter your last name"
							required
						/>
						<app-form-error [control]="lastNameControl"></app-form-error>
					</div>
				</div>
				<div class="form-block">
					<label for="age" class="form-label">Age</label>
					<input class="form-input" id="age" type="text" formControlName="age" placeholder="Enter your age" />
				</div>
				<div class="form-block">
					<label for="email" class="form-label">Email Address</label>
					<input
						class="form-input"
						id="email"
						type="email"
						formControlName="email"
						placeholder="Enter your email address"
						required
					/>
					<app-form-error [control]="emailControl"></app-form-error>
				</div>
				<div class="form-block">
					<label for="password" class="form-label">Password</label>
					<input
						class="form-input"
						id="password"
						type="password"
						formControlName="password"
						placeholder="Enter your password"
						required
					/>
					<app-form-error [control]="passwordControl"></app-form-error>
				</div>
				<div class="form-block">
					<label for="confirm-password" class="form-label">Confirm New Password</label>
					<input
						class="form-input"
						id="confirm-password"
						type="password"
						formControlName="confirmPassword"
						placeholder="Enter your new password again"
						required
					/>
					<app-form-error [control]="confirmPasswordControl"></app-form-error>
					@if (
						form.hasError("passwordMismatch") &&
						form.get("confirmPassword")?.touched &&
						form.get("password")?.value
					) {
						<div class="error-message">Passwords do not match.</div>
					}
				</div>

				<div class="form-block">
					<div class="inline custom-checkbox">
						<input type="checkbox" id="terms" formControlName="acceptTerms" />
						<label for="terms" class="checkmark"></label>
						<label for="terms"> I agree to product <a routerLink="/auth/terms">Terms and Policy</a> </label>
					</div>
					<app-form-error [control]="acceptTermsControl"></app-form-error>
				</div>

				<button type="submit" class="form-submit">Get started now</button>
			</form>

			<div>
				<p class="auth-hint-text">
					<span>Or sign up with</span>
				</p>
				<app-socials></app-socials>
			</div>
		</div>
		<p class="reverse-text">
			Already have an account?
			<a [routerLink]="['/auth/login']">Login</a>
		</p>
	</section>
</main>
