<header class="header">
	<div class="header-side">
		<a href="/">
			<img src="./assets/images/logo.svg" />
		</a>
	</div>

	<div class="header-right">
		<div class="header-menu">
			<div class="user-profile" (click)="menuOpened = !menuOpened">
				<span class="user-avatar">
					<img
						src="https://png.klev.club/uploads/posts/2024-04/png-klev-club-vrj4-p-avatarka-png-28.png"
						alt="avatar"
					/>
				</span>
				<span class="user-name">Annette Black</span>
				<fa-icon [icon]="faAngleDown"></fa-icon>
			</div>

			<nav class="menu-block" [class.opened]="menuOpened">
				<a class="menu-item" href="/profile/user-information">Edit Profile</a>
				<!--				<a class="menu-item" href="#">Log out</a>-->
				<!--				<a class="menu-item" href="#">Simple</a>-->
			</nav>
		</div>
	</div>
</header>
<aside class="aside">
	<h3 class="aside-title">Main Menu</h3>
	<nav class="aside-menu">
		<a href="#" class="active">
			<fa-icon [icon]="faMessage"></fa-icon>
			Dashboard
		</a>
		<a href="#">
			<fa-icon [icon]="faMessage"></fa-icon>
			Chat
		</a>
		<a href="#">
			<fa-icon [icon]="faMessage"></fa-icon>
			Users
		</a>
		<a href="#">
			<fa-icon [icon]="faMessage"></fa-icon>
			Posts
		</a>
	</nav>
	<button class="aside-logout" (click)="logout()">
		<fa-icon [icon]="faRightFromBracket"></fa-icon>
		Logout
	</button>
</aside>
<main class="main">
	<router-outlet></router-outlet>
</main>
