@import "variables";

$header-height: 74px;
$aside-width: 230px;

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: flex;
	height: $header-height;
	width: 100%;
	border-bottom: 1px solid $border-color;
	background-color: #fff;
}

.header-side {
	width: $aside-width;
	height: 100%;

	a:hover {
		border-bottom: none;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

.header-right {
	display: flex;
	flex: 1 0;
	justify-content: end;
	padding: 13px;
}

.header-menu {
	display: flex;
	flex-direction: column;
}

.user-profile {
	display: flex;
	align-items: center;
	cursor: pointer;

	.user-avatar {
		display: block;
		border: 2px solid #4C6FFF66;
		border-radius: 50%;
		overflow: hidden;
	}

	.user-name {
		color: #1A1E2C;
		font-weight: 500;
		font-size: 14px;
		margin: 0 5px;
	}

	fa-icon {
		color: #8E94A7;
		font-size: 12px;
	}
}

.menu-block {
	display: flex;
	flex-direction: column;
	min-width: 160px;
	margin-top: -8px;
	transform: translate(25px, 0);
	opacity: 0;
	transition: all .2s linear;

	&.opened {
		transform: translate(0, 0);
		opacity: 1;
	}

	.menu-item {
		width: 100%;
		border-radius: 8px;
		background: #fff;
		color: rgba(0, 0, 0, 0.85);
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		padding: 10px 15px;
		box-shadow: 0 9px 28px 8px #0000000D, 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001F;
		margin-bottom: 8px;
		text-align: left;
		transition: all .2s linear;

		&:hover {
			border-bottom: none;
			color: $primary;
		}
	}
}

.aside {
	position: fixed;
	top: $header-height;
	left: 0;
	width: $aside-width;
	height: calc(100vh - $header-height);
	border-right: 1px solid $border-color;
	background-color: #fff;
}

.aside-title {
	color: rgba(111, 124, 139, 0.5);
	font-size: 14px;
	font-weight: 500;
	margin: 24px 32px;
}

.aside-menu {
	flex-direction: column;

	&:after {
		content: "";
		display: block;
		margin: 20px 24px;
		border-bottom: 1px solid #EAEDF3;
	}

	a {
		display: block;
		padding: 2px 32px;
		border-left: 3px solid #fff;
		transition: all .2s linear;
		margin-bottom: 20px;

		fa-icon {
			margin-right: 15px;
		}

		&.active {
			border-left-color: #4C6FFF;
		}

		&:hover {
			border-left-color: #4C6FFF;
			border-bottom: none;
		}
	}
}

.aside-logout {
	margin: 0 22px;
	width: calc(100% - 44px);
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F5F6F7;
	height: 34px;
	font-size: 14px;
	font-weight: 500;
	color: #1A1E2C;
	transition: all .15s linear;

	fa-icon {
		margin-right: 10px;
		font-size: 18px;
		color: #73738D;
		transition: all .15s linear;
	}

	&:hover {
		background: $primary;
		color: #fff;

		fa-icon {
			color: #fff;
		}
	}
}

.main {
	margin-top: $header-height;
	margin-left: $aside-width;
	width: calc(100% - $aside-width);
	height: auto;
}
