@import "variables";

input {
	border-radius: 3px;
	background: #F5F6F7;
	color: $label;
	padding: 18px 32px;
	font-size: 16px;
	width: 100%;
	transition: all 150ms linear;
	border: 1px solid #F5F6F7;

	&.error {
		border-color: #c20f0f;
	}

	&:focus {
		border-color: $primary;
	}
}
