<div class="room-main">
	<aside class="room-aside">
		@for (item of latestConversations; track item.id) {
			<div
				class="chat-room-item"
				[ngClass]="{ selected: item.roomId === roomId }"
				(click)="onSelectRoom(item.roomId)"
			>
				<div class="chat-room-user-avatar">
					@if (item.user.isOnline) {
						<span class="indicator"></span>
					}
					<app-avatar [avatar]="item.user.avatar" sizeClass="md"></app-avatar>
				</div>
				<div class="chat-room-data">
					<div class="chat-room-title">
						<h4 class="chat-room-username">{{ item.user.firstName }} {{ item.user.lastName }}</h4>
						<span class="chat-room-time">{{ item.message.createdAt | timeAgo }}</span>
					</div>
					<div class="chat-room-info">
						<p class="chat-room-message">
							{{ item.message.text }}
						</p>
						@if (item.unreadMessagesCount) {
							<span class="chat-room-badge">{{ item.unreadMessagesCount }}</span>
						}
					</div>
				</div>
			</div>
		}
	</aside>
	<section class="room-section">
		<header class="room-header">
			@if (receiver) {
				<div class="chat-room-header-info">
					<a routerLink="/" class="chat-room-back">
						<fa-icon [icon]="faArrowLeft"></fa-icon>
					</a>
					<div class="chat-room-user-avatar">
						<app-avatar [avatar]="receiver.avatar" sizeClass="md"></app-avatar>
					</div>
					<div class="chat-room-title">
						<h4 class="chat-room-username">{{ receiver.firstName }} {{ receiver.lastName }}</h4>
						<span class="chat-room-indicator">
							@if (receiver.isOnline) {
								Online
								<span class="indicator"></span>
							} @else {
								Offline
							}
						</span>
					</div>
				</div>
			}
			<div class="chat-room-options-container">
				<button class="chat-room-options">
					<fa-icon [icon]="faEllipsisVertical"></fa-icon>
				</button>
				<ul class="chat-room-list-options">
					<li>Profile</li>
					<li>Delete</li>
					<li>Block</li>
				</ul>
			</div>
		</header>
		<div class="room-container" #roomContainer>
			@for (msg of messages; track msg.id; let item = $index) {
				<div class="room-item" [ngClass]="{ owner: msg.user.id === currentUser.id }">
					<div class="room-user">
						<app-avatar [avatar]="msg.user.avatar"></app-avatar>
					</div>
					<div class="room-info">
						<span class="room-user-name">{{
							msg.user.id === currentUser.id ? "You" : msg.user.firstName + " " + msg.user.lastName
						}}</span>
						<div class="room-message">
							<p class="text">
								{{ msg.text }}
							</p>
							<span class="time">{{ msg.createdAt | timeAgo }}</span>
						</div>
					</div>
				</div>
			} @empty {
				<p>There are no messages yet...</p>
			}
		</div>
		<footer class="room-footer">
			<div class="">
				<textarea
					class="chat-textarea"
					placeholder="Type message"
					(keydown.enter)="saveMessage($event)"
				></textarea>
			</div>
		</footer>
	</section>
</div>
