<div class="account-container">
	<h3 class="account-tab-title">Change your photo</h3>
	<p>Drag and drop the file bellow</p>

	<form>
		<div class="upload-block file-over">
			<fa-icon [icon]="faCloudUpload"></fa-icon>
			<span class="upload-format">.jpg .png</span>
			<span class="upload-text">You can also upload files by</span>
			<span class="browse-file" (click)="fileInput.click()">clicking here</span>
			<input type="file" #fileInput [multiple]="false" (change)="onFileSelected($event)" />
		</div>

		<div class="account-form-group">
			<a href="/" class="form-cancel">Cancel</a>
			<button type="submit" class="form-submit">Save</button>
		</div>
	</form>
</div>
