@import "variables";
@import "form";

.chat-section {
	padding: 0 30px;
}

.chat-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;

	.title {
		font-size: 21px;
	}

	.btn-primary {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 138px;
		height: 38px;
		font-size: 14px;

		fa-icon {
			font-size: 20px;
			margin-right: 5px;
		}
	}
}

.chat-item {
	display: flex;
	align-items: center;
	//height: 75px;
	min-height: 75px;
	margin-bottom: 10px;
	padding: 20px 25px;
	background-color: #fff;
	border-radius: 5px;

	&.filters {
		height: auto;
		padding-bottom: 0;
		background-color: transparent;

		span {
			font-weight: 500;
			color: rgba(111, 124, 139, 0.5);
		}

		.chat-time {
			font-size: 16px;
		}
	}
}

.chat-user-data {
	flex: 1 0;
	display: flex;
	align-items: center;
	position: relative;

	.indicator {
		position: absolute;
		left: 30px;
		top: 0;
		display: inline-block;
		width: 12px;
		height: 12px;
		border: 2px solid #fff;
		background-color: #2E5BFF;
		border-radius: 50%;
	}
}

.chat-user-avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 13px;
}

.chat-username {
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}

.chat-user-info {
	display: flex;
	flex-direction: column;
	flex: 1 0;
}

.chat-info {
	display: inline-flex;
	margin-right: 20px;
}

.chat-message {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-right: 7px;
	overflow: hidden;
	max-width: 400px;
	white-space: nowrap;
}

.chat-badge {
	display: inline-block;
	max-width: 23px;
	width: 100%;
	height: 22px;
	background-color: #2E5BFF;
	text-align: center;
	line-height: 24px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
}

.chat-time {
	width: 100%;
	max-width: 140px;
	font-size: 14px;
	color: #8798AD;
}

.chat-action {
	width: 100%;
	max-width: 68px;

	button {
		font-size: 15px;
		color: $primary;
		background: transparent;
	}
}
