<main class="auth-main">
	<div class="auth-wallpaper"></div>
	<section class="auth-section">
		<div class="auth-content">
			<h1>Password recovery</h1>
			<h2>Enter the email you're using for your account.</h2>
			<form>
				<div class="form-block">
					<label for="email" class="form-label">Email Address</label>
					<!--					<input id="email" class="form-input" type="email" placeholder="Enter your email address" />-->
					<app-input
						id="email"
						type="email"
						[formControl]="emailCtrl"
						placeholder="Enter your email address"
						required
					></app-input>
				</div>
				<button type="submit" class="form-submit" (click)="onReset()">Reset</button>

				<div class="reverse-text">
					<a [routerLink]="['/auth/login']">Back to Login</a>
				</div>
			</form>
		</div>
	</section>
</main>
