@import "variables";

.form {

	&-block {
		margin-bottom: 27px;
	}

	&-label {
		display: block;
		color: $label;
		font-weight: 500;
		margin-bottom: 8px;
	}

	&-input {
		border-radius: 3px;
		background: #F5F6F7;
		color: $label;
		padding: 18px 32px;
		font-size: 16px;
		width: 100%;
		transition: all 150ms linear;
		border: 1px solid #F5F6F7;

		&:focus {
			border-color: $primary;
		}
	}

	&-submit {
		display: block;
		border-radius: 3px;
		background: $primary;
		border: 1px solid #fff;
		color: #FFF;
		font-size: 18px;
		font-weight: 500;
		margin: 20px 0 30px;
		height: 55px;
		width: 100%;
		transition: all 120ms linear;

		&:not(:disabled):hover {
			border-color: $primary;
			color: $primary;
			background: #fff;
		}

		&:disabled {
			cursor: not-allowed;
			background: #ccc;
		}
	}
}
