@import "variables";

.form {

	&-block {
		margin-bottom: 27px;

		&.inline {
			display: flex;
		}
	}

	&-label {
		display: block;
		color: $label;
		font-weight: 500;
		margin-bottom: 8px;
	}

	&-input {
		border-radius: 3px;
		background: #F5F6F7;
		color: $label;
		padding: 18px 32px;
		font-size: 16px;
		width: 100%;
		transition: all 150ms linear;
		border: 1px solid #F5F6F7;

		&:focus {
			border-color: $primary;
		}
	}

	&-cancel,
	&-submit {
		display: block;
		border-radius: 3px;
		background: $primary;
		border: 1px solid #fff;
		color: #FFF;
		font-size: 18px;
		font-weight: 500;
		margin: 20px 0 30px;
		height: 55px;
		width: 100%;
		transition: all 120ms linear;

		&:not(:disabled):hover {
			border-color: $primary;
			color: $primary;
			background: #fff;
		}

		&:disabled {
			cursor: not-allowed;
			background: #ccc;
		}
	}
}

.error-message {
	font-size: 12px;
	color: #c20f0f;
	margin-top: 5px;
}

.custom-checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #666;
}

.custom-checkbox input[type="checkbox"] {
	display: none;
}

.custom-checkbox .checkmark {
	width: 24px;
	height: 24px;
	background-color: #F5F6F7;
	border: 1px solid #EEEEEF;
	border-radius: 5px;
	margin-right: 8px;
	transition: background-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
	background-color: $primary;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23fff" d="M20.285 5.047c.373-.374.373-.98 0-1.355l-.93-.93c-.374-.374-.98-.374-1.354 0L8.615 13.148 6.294 10.827c-.374-.373-.98-.373-1.354 0l-.93.93c-.374.374-.374.98 0 1.354l4.002 4.002c.373.373.98.373 1.353 0l10.92-10.92z"%3E%3C/path%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: top 2px center;
}
